<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
  <table>
        <form action="/patient/patient_info" method="post">
      <tr>
        <td>
            First name
        </td>
        <td>
            <input type="text" name="fname" id="fname">
        </td>
      </tr>

      <tr>
        <td>
            Last name
        </td>
        <td>
            <input type="text" name="lname" id="lname">
        </td>
      </tr>

      <tr>
        <td>
            Phone
        </td>
        <td>
            <input type="number" name="phone" id="phone">
        </td>
      </tr>

      <tr>
        <td>
            DOB
        </td>
        <td>
            <input type="date" name="dob" id="dob">
        </td>
      </tr>

      <tr>
        <td>
            Mariel Status
        </td>
        <td>
            <input type="radio" name="Merial" value="M" id="mariel">M
            <input type="radio" name="Merial" value="U" id="mariel">U
        </td>
      </tr>

      <tr>
        <td>
            
        </td>
        <td>
            <input type="radio" name="Merial" value="D" id="mariel">D
            <input type="radio" name="Merial" value="LS" id="mariel">LS
        </td>
      </tr>

      <tr>
        <td>
            Present address
        </td>
        <td>
            <textarea name="paddress" id="" cols="30" rows="5"></textarea>
        </td>
      </tr>


      <tr>
        <td>
            Communication Address
        </td>
        <td>
            <textarea name="caddress" id="" cols="30" rows="5"></textarea>
        </td>
      </tr>

      <tr>
        <td>
            Past Medical History
        </td>
        <td>
            <input type="radio" name="marial" value="Anemia" id="marial">Anemia
            <input type="radio" name="marial" value="Asthama" id="marial">Asthma
            <input type="radio" name="marial" value="Diabetes" id="marial">Diabetes
         
        </td>

      </tr>

      <tr>
        <td>
            
        </td>
        <td>
            <input type="radio" name="marial" value="Cancer" id="marial">Cancer
            <input type="radio" name="marial" value="Ulcer" id="marial">Ulcer
            <input type="radio" name="marial" value="Chickenpox" id="marial">Chickenpox
         
        </td>

      </tr>

      <tr>
        <td>
            
        </td>
        <td>
            <input type="radio" name="marial" value="other" id="marial">other
         
         
        </td>

      </tr>

      <tr>
        <td>
            Other Details
        </td>
        <td>
            <textarea name="odetails" id="" cols="30" rows="5"></textarea>
        </td>
      </tr>

      <tr>
        <td>
            
        </td>
        <td>
         <input type="submit" value="Registration">
        </td>
      </tr>
    </form>

   
    

    </table>
</body>
</html>