<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <table>
   <form action="/specialization_detail" method="post">
        <tr>
            <td>
                Code
            </td>
            <td>
                <input type="number" name="code" id="">
            </td>
        </tr>

        <tr>
            <td>
                Name
            </td>
            <td>
                <input type="text" name="name" id="">
            </td>
        </tr>

        <tr>
            <td>
                Note
            </td>
            <td>
                <textarea name="note" id="" cols="30" rows="5"></textarea>
            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <input type="submit" value="Create">
            </td>
        </tr>

</form>
    </table>
</body>
</html>